@media all and (min-width: 320px) {
    .Login {
        padding: 60px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 320px;
        text-align: center;
    }

    .form-label {
        display: block;
        color: #ffffff;
        text-align: start;
    }

    .btn {
        margin-top: 10px;
    }
}
